*{
    background-color: #e1e1e1;
}

.game_container{
    background-color: cadetblue;
    width: 600px;
    height: 600px;
    display: grid;
    margin: auto;
    grid-template-columns: 1fr 4fr;
}

.game_info{
    background-color: rgb(215, 212, 138);
    display: flex;
    flex-direction: column;
}

.game_board{
    background-color: blue;
    display: grid;
}

.pices{
    background-color: aqua;
    display: grid;
}
.dice{
    background-color: blue;
}